<IfModule mod_rewrite.c>
    RewriteEngine On

    <IfModule mod_php.c>
        php_value upload_max_filesize 64M
        php_value post_max_size 128M
        php_value max_file_uploads 30
        php_value memory_limit 512M
    </IfModule>

    RewriteRule ^build/(.*)$ public/build/$1 [L]
    RewriteRule ^uploads/(.*)$ public/uploads/$1 [L]
    RewriteRule ^favicon.ico$ public/favicon.ico [L]
    RewriteRule ^robots.txt$ public/robots.txt [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
